/******** Variables *********/
:root {
  --lcd-bg-color: #3360fb;
  --lcd-text-color: #94caff;
  --button-height: 3rem;
  --color-page-bg:#B9B5AA;
  --color-overlay-light: rgba(255,255,255,.2);
  --color-overlay-medium: rgba(0,0,0,.1);
  --color-overlay-dark: rgba(0,0,0,.2);
  --color-tab-focus: rgba(255,255,255,.15);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fafafc;
}

h1, h2, h4, h3 {
  font-family: 'Oxanium', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: orangered;
}

button {
  align-self: flex-end;
  background-color: #5a5a5a;
  border-radius: 3px;
  color: #fff;
  font-size: 1rem;
  border: none;
  font-family: 'Oxanium', sans-serif;
  cursor: pointer;
}

/* .drum-container, .my-profile-container {
  background-color: rgba(255, 255, 255, 0.84);
} */
/* 
font-family: 'Bebas Neue', sans-serif;
*/

/********* Navigation **********/
.menu {
  font-family: 'Oxanium', sans-serif;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  position: relative;
  background-color: #5a5a5a;
  z-index: 7;
}

.menu li {
  width: 175px;
  height: 100%;
}

.menu li a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 25px;
  font-weight: 700;
  z-index: 9;
}

a.active {
  background-color: orangered;
}
/******** Drum Container ********/
.beat-header, .comments-container {
  width: 80%;
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  height: 3em;
}

header p {
  margin: 0 10px;
}

.comments-container button {
  position: relative;
  left: 85%;
  bottom: 10px;
}

.comment-card {
  padding: 3px 20px;
  box-shadow: 2px 3px 5px 2px #0000001f;
  margin: 5px 0;
  background-color: white;
}

.comment-card p {
  margin: 0;
  margin-top: 7px;
}

/******** Drum Machine **********/
.drum-machine {
  width: 80%;
  height: 280px;
  background-color: #5a5a5a;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)

}

.pads-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.pads-container, .global-controls, .drum-controls {
  height: 25%;
}

.global-controls {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.drum-controls {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10px;
}

/* Retro Button Styles */
.red-button{
  --color-bg:#E44E55;
  --color-bg-light:#E47479;
  --color-bg-dark:#D13239;
}

.green-button{
  --color-bg:#00A07D;
  --color-bg-light:#00AF8A;
  --color-bg-dark:#008F70;
}

.blue-button{
  --color-bg:#0066B4;
  --color-bg-light:#3981CA;
  --color-bg-dark:#004EAD;
}

.yellow-button{
  --color-bg:#FFC054;
  --color-bg-light:#FFD996;
  --color-bg-dark:#F2AA30;
}

.retro-button{
  appearance:none;
  box-sizing:border-box;
  background: var(--color-bg);
  height:var(--button-height);
  min-width:var(--button-height);
  border-radius:calc( var(--button-height) / 2);
  border:0;
  cursor:pointer;
  transition: all 200ms ease;
  box-shadow:
    -1px  -1px 1px var(--color-bg), 
    0 0 0 4px var(--color-overlay-medium),
    1px  1px 1px var(--color-bg-dark), 
    inset .0 .0 .0 var(--color-overlay-dark), 
    inset .5rem .5rem .25rem var(--color-bg-light);
}

.retro-button:focus{
  outline:none;
  box-shadow:
    -1px -1px 1px var(--color-bg-dark), 
    0 0 0 4px var(--color-tab-focus), 
    1px  1px 1px var(--color-bg-dark), 
    inset 0 0 0 var(--color-overlay-dark), 
    inset .5rem .5rem .25rem var(--color-bg-light);
}

.retro-button:hover{
  box-shadow:
    -1px -1px 1px var(--color-bg-dark), 
    0 0 0 4px var(--color-overlay-dark), 
    1px  1px 1px var(--color-bg-dark), 
    inset 0 0 0 var(--color-overlay-dark), 
    inset .5rem .5rem .25rem var(--color-bg-light);
}

.retro-button:active{
  box-shadow:
    inset 1px 1px 1px var(--color-bg), 
    0 0 0 4px var(--color-overlay-dark), 
    inset -1px -1px 1px var(--color-bg-light), 
    inset .5rem .5rem .75rem var(--color-bg-dark), 
    inset .5rem .5rem .5rem var(--color-bg-light);
}

.sequence-pad {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sequence-pad button {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  box-shadow: inset 0 0 15px 2px rgba(0,0,0,0.5);
  cursor: pointer;
  transition: all 200ms ease;
}

.selected, .not-selected {
  border-radius: 10px;  
  background-color:#a1a1a1;
}


.selected {
  box-shadow: 0 0 15px #EE4352;
  background: radial-gradient(#ffffff, #ff726f);
}

.sequence-pad .current-note {
  box-shadow: 0 0 15px yellow;
  background: radial-gradient(#ffffff, yellow);
}

.sequence-pad span {
  background-color: orangered;
  margin-top: 2px;
  cursor: default;
  color: white;
  width: 100%;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
}

.tempo-control, .volume-control, .selected-drum-show, .panning-control, .pitch-control {
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Slider Inputs */
input[type="range"] {
  -webkit-appearance: none;
  margin-top: 6px;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: black;
  border-radius: 1.3px;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d, 0 0 15px var(--lcd-bg-color);
  border: 1px solid #000000;
  height: 7px;
  width: 16px;
  border-radius: 3px;
  background: radial-gradient(var(--lcd-text-color), var(--lcd-bg-color) 70%);
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d, 0 0 15px #ff726f;
  background: radial-gradient(#ffb1af, #ff726f 70%);
}

.volume-control label, .tempo-control label, .panning-control label, .pitch-control label {
  background-color: orangered;
  padding: 2px 0px;
  color: white;
  width: 100%;
  text-align: center;
}

.volume-control, .tempo-control, .panning-control, .pitch-control  {
  flex-direction: column;
}

.tempo-control > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.play-btn {
  height: 50px;
  width: 100px;
  background-color: chartreuse;
  text-align: center;
  border-radius: 3px;
  /* box-shadow: 3px 5px 1px rgba(13, 13, 13, .3); */
  box-shadow: 1px 0 1px #be3077, 0 1px 1px #ff69b4, 2px 1px 1px #be3077, 1px 2px 1px #ff69b4, 3px 2px 1px #be3077, 2px 3px 1px #ff69b4, 4px 3px 1px #be3077, 3px 4px 1px #ff69b4, 5px 4px 1px #be3077, 4px 5px 1px #ff69b4, 6px 5px 1px #be3077;
  cursor: pointer;
}

.play-btn:active {
  transform: translate(3px, 5px);
  box-shadow: 0px 0px 1px rgba(13, 13, 13, .3);
}

/* LCD Forms  */
.form-container {
  width: 60%;
  margin: 10px auto
}

.lcd-display form {
  margin: 20px auto;
  /* width: 80%; */
  display: flex;
  flex-direction: column;
}

.lcd-display h1, .lcd-display h2 {
  margin: 0 0 20px;
}

.lcd-display.user-form p {
  margin: 0;
}

.lcd-display {
  display: flex;
  padding: 10px;
  background-color: var(--lcd-bg-color);
  border: 2px solid gray;
  font-family: monospace;
  font-size: 3em;
  color: var(--lcd-text-color);
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  text-shadow: 0 0 4px var(--lcd-text-color);  
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19), inset 0 0 15px 1px var(--lcd-text-color),inset 0 0 5px 2px rgba(0,0,0,0.5);
}

.btn-group {
  align-self: flex-end;
}

.lcd-display .btn {
  align-self: flex-end;
  padding: 10px;
  font-size: 1.5rem;
  min-width: 68px;
  color: var(--lcd-text-color);
  background-color: var(--lcd-bg-color);
  margin: 20px 0;
  border-color: var(--lcd-text-color);
  font-family: monospace;
  text-shadow: 0 0 4px var(--lcd-text-color);
  box-shadow: 0 0 3px 1px var(--lcd-text-color), inset 0 0 3px 1px var(--lcd-text-color);
  border-style: solid;
  text-decoration: none;
  cursor: pointer;
}

.lcd-display .btn:hover {
  background-color: var(--lcd-text-color);
  color: var(--lcd-bg-color);
}

.lcd-display p {
  margin: 20px 50px;
}

.lcd-display textarea, .lcd-display input {
  width: inherit;
  padding: 10px;
  border-style: solid;
  background-color: var(--lcd-bg-color);
  color: var(--lcd-text-color);
  font-family: monospace;
  border-color: var(--lcd-text-color);
  text-shadow: 0 0 4px var(--lcd-text-color);
  box-shadow: 0 0 3px 1px var(--lcd-text-color), inset 0 0 3px 1px var(--lcd-text-color);
}

.lcd-display textarea:focus, .lcd-display input:focus {
  outline: none;
  box-shadow: 0 0 5px 2px var(--lcd-text-color), inset 0 0 5px 2px var(--lcd-text-color);

}

.lcd-display textarea {
  font-size: 1.2rem;
  height: 250px;
  resize: none;
}

.lcd-display input {
  font-size: 1.35rem;
}

.error-container ul {
  list-style: none;
  padding: 0;
}

.error-container li {
  font-size: 1.5rem;
}

.digital-display {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lcd-bg-color);
  border: 2px solid gray;
  font-family: monospace;
  color: var(--lcd-text-color);
  text-shadow: 0 0 4px var(--lcd-text-color);  
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2), inset 0 0 6px 1px var(--lcd-text-color),inset 0 0 5px 1px rgba(0,0,0,0.5);
}

.digital-display p {
  margin: 0;
  padding: 0 5px;
  font-size: 1.5em;
}

select#samples {
  width: 75%;
  height: 100%;
  appearance: none;
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  font-family: inherit;
  color: inherit;
  text-shadow: inherit;
  font-size: inherit;
  cursor: inherit;
}

.sample-selector:focus-within {
  border: 2px solid orangered;
}

.sample-selector {
  font-size: 1.5em;
  cursor: pointer;
  width: 150px;
  height: 35px;
  margin-top: 3px;
}

.sample-selector::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--lcd-text-color);
  text-shadow: 0 0 4px var(--lcd-text-color);  
  box-shadow: 0 0 4px var(--lcd-text-color);  
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.selected-drum-show .digital-display {
  width: 100%;
  height: 70%;
}

.tempo-control .digital-display {
  min-width: 70px;
}

.drum-pad {
  border-radius: 50%;
}

/******** Profile **********/

.my-profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 230px 1fr 1fr;
  margin: 0 5%;
}

.my-profile-container > div {
  padding: 15px;
}

.profile-section {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.profile-section div {
  padding-bottom: 10px;
}

.profile-section h1, .profile-section h3, .profile-section p {
  display: inline;
  margin-right: 5px;
}

.feed-section {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.feed-section h2 {
  margin-bottom: 10px;
}

.feed-section .comments-container {
  width: 100%;
}

.beats-section {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.beats-section ul {
  padding: 0;
}

.beat-card {
  display: grid;
  grid-template-columns: 175px 1fr 105px;
  grid-template-rows: 30px 1fr;
  border: 1px solid #8080803b;
  margin-bottom: 7px;
  padding: 7px;
  box-shadow: 2px 3px 5px 2px #0000001f;
  background-color: white;
}

.beat-card a:first-child {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  font-family: 'Oxanium', sans-serif;
  font-size: 1.15rem;
}

.beat-card p {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0;
  padding-top: 3px;
  border-top: 1px solid lightgray;
}
.beat-card span {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-top: 3px;
}

/* Modal */
.modal-background {
  position: fixed; /* Stay in place */
  z-index: 15; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.651); /* Black w/ opacity */
  /* filter: blur(1.5rem) */
}

.modal-content {
  position: relative;
  margin: 5% auto;
  padding: 0 20px;
  width: 80%;
  animation-name: animatetop;
  animation-duration: 0.4s
}
  
/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}